{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'calculator/css/estilos.css' %}" rel="stylesheet">
    <script src="{% static 'calculator/js/funciones.js' %}"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="container">
        <h1 style="font-family: sans-serif;">Veterinary drug dossage calculator</h1>
        <div class="app-container">
        <div class="form">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{form}}
                    <input id='submit' type="submit" value="submit">
                </form>
            </div>
        {% if medicamento %}
        nombre: {{medicamento.nombre}} <br>
        concentracion: {{medicamento.concentracion}} {{medicamento.unidad_concentracion}}<br>
        dosis minima: {{medicamento.dosis_minima}} {{medicamento.unidad_dosis}}<br>
        dosis maxima: {{medicamento.dosis_maxima}} {{medicamento.unidad_dosis}}<br>
        volumen minimo final: {{volumenMinimo}} ml <br>
        volumen maximo final: {{volumenMaximo}} ml
        {% endif %}

        </div>
    </div>
</body>
</html>