{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'calculator/css/styles.css' %}"  rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="app-container">
            <div class="title-container">

            </div>
            <div class="form container">

            </div>
            <div class="result-container">

            </div>
        </div>
    </div>
    {% block body%} 
    {%endblock%}
</body>
</html>