{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'calculator/css/estilos.css' %}" rel="stylesheet">
    <script src="{% static 'calculator/js/funciones.js' %}"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="container">
        <h1 style="font-family: sans-serif;">Veterinary drug dossage calculator</h1>
        <div class="app-container">
        <div class="form">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{form}}
                    <input id='submit' type="submit" value="Calcular">
                </form>
            </div>
        {% if medicamento %}
        <b>{{medicamento.nombre}} ({{medicamento.concentracion}} {{medicamento.unidad_concentracion}})</b> <br>
        <div>({{medicamento.dosis_minima}} {{medicamento.unidad_dosis}} - {{medicamento.dosis_maxima}} {{medicamento.unidad_dosis}})</div><br>
        <b>Volumen mínimo final: <a style="color: red; font-size: large;">{{volumenMinimo}} ml 
        ( {% for via in medicamento.vias_administracion.all %} {{via}} {% endfor %}) </a></b> <br>
        <b>Volumen máximo final: <a style="color: red; font-size: large;">{{volumenMaximo}} ml
        ( {% for via in medicamento.vias_administracion.all %} {{via}} {% endfor %})</a></b>
        {% endif %}

        </div>
    </div>
</body>
</html>