body {
    background-color: rgb(243 244 246);
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 40px;
}

.container{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-container{
    margin-top: 30px;
    padding-top: 60px;
    padding-bottom: 20px;
    width: 600px;
    min-height: 400px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px lightgray;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); /* sacado de inspeccion de google  */
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}

.title-container {
    height: 20%;
    text-align: center;
    justify-content: center;
    color: black;
    font-family: sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

label{
    margin: 4px;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: large;
    align-self: self-start;
    margin-left: 30px;
}

input{
    margin: 10px 4px;
    width: 80%;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
}
input:hover{
    box-shadow: 2px 2px 6px lightgray;

}

.dropdown {
    width: 85%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 10px;
}
.dropdown:hover{
    box-shadow: 2px 2px 6px lightgray;
}

button {
    margin-top: 40px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: white;
    font-size: medium;
}
button:hover{
    box-shadow: 2px 2px 6px lightgray;
}