body{
    background-color: lightgray;
}
.container {
    margin: 5px;
    width: 100%;
    justify-content: center;
    display: flex;
}

.app-container {
    width: 600px;
    min-height: 600px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 15px;
}

.title-container {
    height: 20%;
}